@model LightScience.Models.Cutura

@{
    ViewData["Title"] = "Deletar Cutura";
    Layout = "_LayoutNavBar";
}

<style>
    body {
        font-size: 1.2em; /* Aumenta o tamanho da fonte de todo o corpo do documento */
    }

    h1, h4 {
        font-size: 2em; /* Aumenta o tamanho da fonte dos títulos */
    }

    .form-label {
        font-size: 1.3em; /* Diminui o tamanho da fonte dos rótulos dos campos de entrada */
    }

    .form-control {
        font-size: 1.1em; /* Diminui o tamanho da fonte dentro dos campos de entrada */
    }
</style>

<!DOCTYPE html>
<html lang="pt-br">
 <!-- Define o idioma da página como português do Brasil -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - LightScience</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    <!-- Adicionando o Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <h1 class="text-success my-4" style="text-align: left;">
        <i class="fas fa-leaf"></i> <!-- Ícone de uma folha/planta -->
        Deletar Cultura
    </h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header bg-success text-white">
                        <h4 class="mb-0">Confirmar Exclusão</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center mb-4" style="color: green;">Você tem certeza que deseja excluir esta cultura?</h4>
                        <dl class="row">
                            <dt class="col-sm-3">Código:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.CodigoCutura)</dd>

                            <dt class="col-sm-3">Categoria:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Categoria)</dd>

                            <dt class="col-sm-3">Descrição:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Descricao)</dd>

                            <dt class="col-sm-3">Nome:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>
                        </dl>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="CuturaId" />
                            <div class="form-group text-center">
                                <input type="submit" value="Deletar" class="btn btn-danger btn-lg me-3" />
                                <a asp-action="Index" class="btn btn-outline-secondary btn-lg">Voltar para a Lista</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
