@model IEnumerable<LightScience.Models.Cutura>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutNavBar";
}
@{
    var successMessage = TempData["SuccessMessage"] as string;
    if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="custom-alert-container">
            <div class="custom-alert alert alert-success alert-dismissible fade show" id="success-alert" role="alert">
                @successMessage
            </div>
            <div class="alert-timer"></div>
        </div>
    }
}

<!-- Adicione este script no final do corpo da página -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Espera a página terminar de carregar e depois esconde o alerta após 9 segundos
        setTimeout(function () {
            $("#success-alert").alert('close');
        }, 7000);
    });
</script>

<!-- Adicionando o Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">

<h1 class="text-center my-4">Index</h1>

<div class="text-center mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CodigoCutura)</th>
                <th>@Html.DisplayNameFor(model => model.Categoria)</th>
                <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CodigoCutura)</td>
                    <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CuturaId" class="btn btn-edit text-white">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CuturaId" class="btn btn-details text-white">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CuturaId" class="btn btn-delete text-white">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Adicionando o Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
