@model LightScience.Models.Lux

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lux</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeLux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeLux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLeitura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLeitura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cutura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cutura.Categoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LuxId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
