@model LightScience.Models.Lux

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lux</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeLux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeLux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLeitura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLeitura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cutura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cutura.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LuxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
